:root {
	--bg: #121212;
	--black: #121212;
	--feat: #ff3e00;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

*:not(dialog) {
	margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
	html {
		interpolate-size: allow-keywords;
	}
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	font-family: 'Cabin Variable', sans-serif;
	background-color: var(--bg);
	color: #fff;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}

a {
	display: inline-block;
	text-decoration: none;
	text-underline-offset: 2px;
}

ul {
	list-style: none;
	padding-left: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto Condensed Variable', sans-serif;
	font-weight: normal;
	text-wrap: balance;
	line-height: 1.2;
}

h1 {
	font-size: calc(36 / 16 * 1rem);
}

#root,
#__next {
	isolation: isolate;
}

.wrap {
	margin: 0 auto;
	padding: 0 20px;
}

.btn {
	color: #fff;
	border: 1px solid #fff;
	padding: 6px 12px;
	border-radius: 4px;
	transition: 250ms;
}

.btn:hover {
	background-color: #fff;
	color: var(--black);
	transition: 125ms;
}
